<html>
    <head>
        <title>Eunjoo's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Eunjoo's Blog</a></h1>
        </div>

        <div>
            <p>published: 22.07.2019, 14:12</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello, this is my first time trying Django. It's kinda interesting but super difficult lol</p>
        </div>

        <div>
            <p>published: 22.07.2019, 14:13</p>
            <h2><a href="">My second post</a></h2>
            <p>Anyway, I'm gonna deal with it.</p>
            </div>
        </div>
        
    </body>
</html>